.App-header {
  font-size: 16px;
  line-height: 16px;
  color: #000;
  display: flex;
  justify-content: center;
}

.Main-Container {
  display: flex;
}

.Timeline-container {
  width: 80px;
}

.Calender-container {
  width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}

.Primary {
  font-size: 14px;
  line-height: 14px;
  color: darkgrey;
  font-weight: 200;
}

.Secondary {
  font-size: 12px;
  line-height: 12px;
  color: lightgray;
}
